<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/style.css" />
    <title>Editing <%= blogs.title %></title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="new-container">
        <div class="new-form-container">
    <h1>Edit <%= blogs.title %></h1>
    <form 
    action="/users/<%= user._id %>/blogs/<%= blogs._id %>?_method=PUT"
    method="POST">
    <label for="title">Blog title:</label>
        <input type="text" name="title" id="title" value="<%= blogs.title %>"/>
        <label for="content">content:</label>
        <textarea type="text" name="content" id="content"><%= blogs.content %></textarea>
        <label for="author">author name:</label>
        <input type="text" name="author" id="author" value="<%= blogs.author %>"/>
        <label for="image">image url:</label>
        <input type="text" name="image" id="image" accept="image/*" value="<%= blogs.image %>"/>
        <label for="date">date:</label>
        <input type="datetime-local" name="date" id="date" value="<%= blogs.date %>"/>
        <button type="submit">Edit Blog</button>
    </form>
    </div>
    </div>
</body>
</html>